# PyCity Schools Analysis

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (** SOMETHING NEEDS TO CHANGE HERE? Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
school_data_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [3]:
#Total number of unique schools
total_unique_schools = school_data_complete["school_name"].nunique()
total_unique_schools

15

In [4]:
#Total students
individual_students = school_data_complete["Student ID"].count()
individual_students

39170

In [5]:
#Total budget
unique_schools = school_data_complete.drop_duplicates(subset="school_name")
TBudget = unique_schools["budget"].sum()
TBudget

24649428

In [6]:
#Average math score
AvgMathS = school_data_complete["math_score"].mean()
AvgMathS

78.98537145774827

In [7]:
#Average reading score
AvgReadS = school_data_complete["reading_score"].mean()
AvgReadS

81.87784018381414

In [8]:
#% passing math (the percentage of students who passed math)
PassWMath = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
PassWMath_Percent = PassWMath / float(individual_students) * 100
PassWMath_Percent

74.9808526933878

In [9]:
#% passing reading (the percentage of students who passed reading)
PassWRead = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
PassWRead_Percent = PassWRead / float(individual_students) * 100
PassWRead_Percent

85.80546336482001

In [10]:
# overall passing (the percentage of students who passed math AND reading)
OverAllPassCount = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
OverallPRate = OverAllPassCount /  float(individual_students) * 100
OverallPRate

65.17232575950983

In [11]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame(
{
    "Total School": [total_unique_schools],
    "Total Students": [individual_students],
    "Total Budget": [TBudget],
    "Average Math Score": [AvgMathS],
    "Average Reading Score": [AvgReadS], 
    "% Passing Math": [PassWMath_Percent],
    "% Passing Reading": [PassWRead_Percent],
    "% Overall Passing": [OverallPRate]
}
)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total School,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [12]:
#School type
school_types = unique_schools.set_index(["school_name"])["type"]
school_types_df = school_types.to_frame("School Type")
school_types_df

                      School Type
school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter

In [13]:
#Total students
TStudents = school_data_complete.groupby('school_name').size()
TStudents_df = TStudents.to_frame("Total Students")
TStudents_df

                       Total Students
school_name
Bailey High School               4976
Cabrera High School              1858
Figueroa High School             2949
Ford High School                 2739
Griffin High School              1468
Hernandez High School            4635
Holden High School                427
Huang High School                2917
Johnson High School              4761
Pena High School                  962
Rodriguez High School            3999
Shelton High School              1761
Thomas High School               1635
Wilson High School               2283
Wright High School               1800

In [14]:
#Total school budget
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget_df = per_school_budget.to_frame("Total School Budget")
per_school_budget_df

                       Total School Budget
school_name
Bailey High School               3124928.0
Cabrera High School              1081356.0
Figueroa High School             1884411.0
Ford High School                 1763916.0
Griffin High School               917500.0
Hernandez High School            3022020.0
Holden High School                248087.0
Huang High School                1910635.0
Johnson High School              3094650.0
Pena High School                  585858.0
Rodriguez High School            2547363.0
Shelton High School              1056600.0
Thomas High School               1043130.0
Wilson High School               1319574.0
Wright High School               1049400.0

In [15]:
#Per student budget
per_school_capita = per_school_budget / TStudents
per_school_capita_df = per_school_capita.to_frame("Per Student Budget")
per_school_capita_df

                       Per Student Budget
school_name
Bailey High School                  628.0
Cabrera High School                 582.0
Figueroa High School                639.0
Ford High School                    644.0
Griffin High School                 625.0
Hernandez High School               652.0
Holden High School                  581.0
Huang High School                   655.0
Johnson High School                 650.0
Pena High School                    609.0
Rodriguez High School               637.0
Shelton High School                 600.0
Thomas High School                  638.0
Wilson High School                  578.0
Wright High School                  583.0

In [16]:
#Average math score
per_school_MS = school_data_complete.groupby(["school_name"]).mean()["math_score"]
per_school_MS_df = per_school_MS.to_frame("Average Math Score")
per_school_MS_df

                       Average Math Score
school_name
Bailey High School              77.048432
Cabrera High School             83.061895
Figueroa High School            76.711767
Ford High School                77.102592
Griffin High School             83.351499
Hernandez High School           77.289752
Holden High School              83.803279
Huang High School               76.629414
Johnson High School             77.072464
Pena High School                83.839917
Rodriguez High School           76.842711
Shelton High School             83.359455
Thomas High School              83.418349
Wilson High School              83.274201
Wright High School              83.682222

In [22]:
#Average reading score
per_school_RS = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
per_school_RS_df = per_school_RS.to_frame("Average Reading Score")
per_school_RS_df

                       Average Reading Score
school_name
Bailey High School                 81.033963
Cabrera High School                83.975780
Figueroa High School               81.158020
Ford High School                   80.746258
Griffin High School                83.816757
Hernandez High School              80.934412
Holden High School                 83.814988
Huang High School                  81.182722
Johnson High School                80.966394
Pena High School                   84.044699
Rodriguez High School              80.744686
Shelton High School                83.725724
Thomas High School                 83.848930
Wilson High School                 83.989488
Wright High School                 83.955000

In [23]:
#% passing math (the percentage of students who passed math)
per_school_MPassing = school_data_complete[(school_data_complete["math_score"] >= 70)].groupby(["school_name"])["student_name"].size()
per_school_MPPercent = per_school_MPassing / TStudents * 100
per_school_MPPercent_df = per_school_MPPercent.to_frame("% Passing Math")
per_school_MPPercent_df

                       % Passing Math
school_name
Bailey High School          66.680064
Cabrera High School         94.133477
Figueroa High School        65.988471
Ford High School            68.309602
Griffin High School         93.392371
Hernandez High School       66.752967
Holden High School          92.505855
Huang High School           65.683922
Johnson High School         66.057551
Pena High School            94.594595
Rodriguez High School       66.366592
Shelton High School         93.867121
Thomas High School          93.272171
Wilson High School          93.867718
Wright High School          93.333333

In [24]:
#% passing reading (the percentage of students who passed reading)
per_school_RPassing = school_data_complete[(school_data_complete["reading_score"] >= 70)].groupby(["school_name"])["student_name"].size()
per_school_RPPercent = per_school_RPassing / TStudents * 100
per_school_RPPercent_df = per_school_RPPercent.to_frame("% Passing Reading")
per_school_RPPercent_df

                       % Passing Reading
school_name
Bailey High School             81.933280
Cabrera High School            97.039828
Figueroa High School           80.739234
Ford High School               79.299014
Griffin High School            97.138965
Hernandez High School          80.862999
Holden High School             96.252927
Huang High School              81.316421
Johnson High School            81.222432
Pena High School               95.945946
Rodriguez High School          80.220055
Shelton High School            95.854628
Thomas High School             97.308869
Wilson High School             96.539641
Wright High School             96.611111

In [25]:
#% overall passing (the percentage of students who passed math AND reading)
per_school_AllPassing = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].groupby(["school_name"])["student_name"].size()
per_school_AllPPercent = per_school_AllPassing / TStudents * 100
per_school_AllPPercent_df = per_school_AllPPercent.to_frame("% Overall Passing")
per_school_AllPPercent_df

                       % Overall Passing
school_name
Bailey High School             54.642283
Cabrera High School            91.334769
Figueroa High School           53.204476
Ford High School               54.289887
Griffin High School            90.599455
Hernandez High School          53.527508
Holden High School             89.227166
Huang High School              53.513884
Johnson High School            53.539172
Pena High School               90.540541
Rodriguez High School          52.988247
Shelton High School            89.892107
Thomas High School             90.948012
Wilson High School             90.582567
Wright High School             90.333333

In [34]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
index = 0
df_to_merge = [
    school_types_df, TStudents_df, per_school_budget_df, 
    per_school_capita_df, per_school_MS_df, per_school_RS_df, 
    per_school_MPPercent_df, per_school_RPPercent_df, per_school_AllPPercent_df
]

per_school_summary = df_to_merge[0]
for index in range(1, len(df_to_merge)):
    per_school_summary = per_school_summary.merge(df_to_merge[index], on='school_name')

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary = per_school_summary.sort_values(by='school_name')

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Highest-Performing Schools (by % Overall Passing)

Sort the schools by `% Overall Passing` in descending order and display the top 5 rows. 
Save the results in a DataFrame called "top_schools".

In [39]:
top_schools = per_school_summary.sort_values(by='% Overall Passing', ascending=False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Lowest-Performing Schools (by % Overall Passing)

Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
Save the results in a DataFrame called "bottom_schools".

In [40]:
bottom_schools = per_school_summary.sort_values(by='% Overall Passing', ascending=True)
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

Perform the necessary calculations to create a DataFrame that lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school.

## Reading Scores by Grade

Create a DataFrame that lists the average reading score for students of each grade level (9th, 10th, 11th, 12th) at each school.

## Scores by School Spending

Create a table that breaks down school performance based on average spending ranges (per student).

Use the code provided below to create four bins with reasonable cutoff values to group school spending.

spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
Use `pd.cut` to categorize spending based on the bins.

Use the following code to then calculate mean scores per spending range.

spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]
Use the scores above to create a DataFrame called `spending_summary`.

Include the following metrics in the table:

Average math score

Average reading score

% passing math (the percentage of students who passed math)

% passing reading (the percentage of students who passed reading)

% overall passing (the percentage of students who passed math AND reading)

## Scores by School Size

Use the following code to bin the `per_school_summary`.

size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).

## Scores by School Type

Use the `per_school_summary` DataFrame from the previous step to create a new DataFrame called `type_summary`.

This new DataFrame should show school performance based on the "School Type".